@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
        
<script src="~/js/jquery3.5.1.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

</head>
<style>
.pass_show{position: relative} 

.pass_show .ptxt { 

position: absolute; 

top: 50%; 

right: 10px; 

z-index: 1; 

color: #f36c01; 

margin-top: -10px; 

cursor: pointer; 

transition: .3s ease all; 


}

   .center {
        margin: auto;
        width: 50%;
        border: 3px solid peru;
        padding: 10px;
         
    }

.pass_show .ptxt:hover{color: #333333;} 
    </style>
<body>
                              
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container bg-secondary ceneter">
	<div class=" row " style="border: 3px solid peru">
		<div class="col-sm-4 "><br /><br />
            <label>User ID</label>
		    <div class="form-group"> 
                <input type="text"  class="form-control" id="userid" placeholder="Adarsh"> 
            </div> 
		    <label>Current Password</label>
		    <div class="form-group pass_show"> 
                <input type="password"  class="form-control" id="cpassword" placeholder="Current Password"> 
            </div> 
		       <label>New Password</label>
            <div class="form-group pass_show"> 
                <input type="password"  class="form-control" id="npassword" placeholder="New Password"> 
            </div> 
		       <label>Confirm Password</label>
            <div class="form-group pass_show"> 
                <input type="password"  class="form-control" id="ncpassword" placeholder="Confirm Password"> 
            </div> 
            <div>
                <button class="btn btn-primary btn-xl " id="submitButton" type="button" onclick="passwordreset()">Submit</button><br /><br/>
            </div>
		</div><br /><br />  
	</div>
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="msg" style="display:none "></div>    
    
</body>
</html>
<script>
      
$(document).ready(function(){
$('.pass_show').append('<span class="ptxt">Show</span>');  
});
  

$(document).on('click','.pass_show .ptxt', function(){ 

$(this).text($(this).text() == "Show" ? "Hide" : "Show"); 

$(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; }); 
$("#cpassword").val("");
$("#npassword").val("");
$("#ncpassword").val("");
});  



function passwordreset()
      {
          var obj={};
            obj.cpwd =$("#cpassword").val();
            obj.npwd=$("#npassword").val();
            obj.uid=$("#userid").val();
          $.post(
              "/Login/passwordreset", obj,
              function(res)
              {
              $("#msg").show().html(obj.uid+" "+ res).delay(7000).fadeOut(300);
              window.location.href = "/Home/dashboard";
              setTimeout("pageRedirect()", 1000);
          });
      }
</script>